body{
    display: block;
    background-size: cover;
    margin: 0px;
}

#hero {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDh2N2VkN2NoYzM3N21kajJwbzd0bHI5aTZrMmRqbWl4MmgwcnE5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VTS3epzHaKzXs4b72j/giphy.webp");
    background-size: cover;
    

}
.text-overlay {
    position: absolute;
    top: 5%;
    left: 47%;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-30%, -30%);
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-style: oblique;
}

.text-overlay1 {
    position: absolute;
    top: 20%;
    left: 40%;
    color: #b8062d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-30%, -30%);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-style: oblique;
}

.text-overlay2 {
    position: absolute;
    top: 154%;
    left: 79%;
    color: #350625;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-20%, -20%);
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
}

.image {
    display: block;
    width: 1450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.header{
    border-radius: 20px, purple;
    border-width: 25px 10px 4px 35px;
}

.bf {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border: 4px solid pink;
}

.bdy {
    margin: 2px 0 0px 0;
}
.Destinations{
    text-align: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.btn {
    width:197px;
    margin-top: 15px;
    color: #0f1419;
    border: 2px solid #cfd9de;
    border-radius: 18px;
    background: rgb(236, 228, 228);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

.btn:hover {background-color: #cec949}

.container {
    width: 100%; /* Full width of the container */
    text-align: center; /* Center the text within the container */
}

.dst {
    font-size: 60px;
    color: rgb(231, 227, 227);
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;

}

.guide {
    font-size: 15px;
    display: block;
    margin-right: auto;
    font-weight: bold;
}

.card {
    
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 200PX;
    color: #2b2839;
    text-align: center;
    margin-left: auto;
    border-bottom: 5px solid #ba068a;
    border-radius: 20px;
}

.card1 {
    
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 200PX;
    color: #2b2839;
    text-align: center;
    margin-left: auto;
    border-bottom: 5px solid #ba068a;
    border-radius: 20px;
    margin-top: 50px;
}

.head {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.img {
    display: block;
    margin-left: auto;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 6px solid #ba068a;
}
.twiter{
    width: 40px;
    height: 40px;
}

.learn {
    
    padding: 5px;
    display: block;
    justify-content: space-around;
    width: 400px;
    height: 170PX;
    color: #2b2839;
    text-align: center;
    margin-right: auto;
    border-bottom: 5px solid #ba068a;
    border-radius: 30px;
    margin-bottom: 0px;
}

.learn1 {
    
    padding: 5px;
    display: block;
    justify-content: space-around;
    width: 400px;
    height: 170PX;
    color: #2b2839;
    text-align: center;
    margin-right: auto;
    border-bottom: 5px solid #ba068a;
    border-radius: 30px;
    margin-bottom: 0px;
}

.text-overlay4 {
    position: absolute;
    top: 17%;
    left: 80%;
    color: #350625;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-20%, -20%);
    font-size: 15px;
    font-style: oblique;
}

.text-overlay3 {
    position: absolute;
    top: 170%;
    left: 10%;
    color: #350625;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-20%, -20%);
    font-size: 15px;
    font-style: oblique;
}

.bye {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 50px;


}